<% @dramas.each do |drama| %>
          <div class="card animated bounceInRight" style="
              background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(<%= drama.img %>) no-repeat;
              background-size: 100% auto;
              ">
            
            <div class="card-content">
            
            <div class="card-action index">
              <a href=<%= drama.url %> >Watch now</a>
              <%= link_to 'Update', edit_drama_path(drama) %>
              <%= link_to 'Show More', drama %>
            </div>
            <%= link_to 'Delete', drama, method: :delete, data: { confirm: 'Are you sure, you want to stop tracking ' + drama.title + '?' },
             class: "waves-effect waves-light btn-large delete_btn red darken-1" %>
          </div>
<% end %>