<%= form_for(@drama) do |f| %>
  <% if @drama.errors.any? %>
    <div id="error_explanation">
      <p>
      <% @drama.errors.full_messages.each do |message| %>
        <span class="chip red darken-1 error_chip z-depth-2 animated flipInX"><%= message %></span>
      <% end %>
      </p>
      <br>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url, placeholder: "paste url from myasiantv.se" %>
  </div>

  <div class="actions">
    <%= link_to 'Cancel', dramas_path, class: 'waves-effect waves-light btn' %>
    <%= f.submit 'Submit', class: 'waves-effect waves-light btn' %>
  </div>
<% end %>
