<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="<%= root_path %>" class="brand-logo center">Drama Scraper</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <% if user_signed_in? %>
          <li>
            <a href="/"><%= current_user.email %></a>
          </li>
          <li><%= link_to 'Log Out', destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to 'Log In', new_user_session_path %></li>
        <% end %>
      </ul>
      <ul class="side-nav z-depth-5" id="mobile-demo">
        <% if user_signed_in? %>
        <li>
          <div class="chip light-green accent-3 user-chip-mobile">
            <%= current_user.email %>
            <i class="material-icons">perm_identity</i>
          </div>
        </li>
        <li><%= link_to 'Log Out', destroy_user_session_path %></li>
      <% else %>
        <li><%= link_to 'Log In', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
