<style media="screen">
      body {
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        height: 100%;
    }
    body:before {
        content: "";
        position: absolute;
        height: 20%; width: 20%;
        background: url(<%= @drama.img %>);
        background-size: cover;
        z-index: -1;
        -webkit-transform: scale(5);
        -webkit-transform-origin: top left;
        -webkit-filter: blur(2px);
    }
</style>
<% if notice.present? %>
<p id="notice" class="chip animated rubberBand"><%= notice %><i class="material-icons">close</i></p>
<% end %>

<div class="card show animated fadeIn">
<h4 class="flow-text">
  <%= @drama.title %>
</h4>
    
<div class="card-action">
        <a href=<%= @drama.url %> >Watch now</a>
        <%= link_to 'Update', edit_drama_path(@drama) %>
        <%= link_to 'Back', dramas_path %>
</div> 
</div>
