<!DOCTYPE html>
<html>
<head>
  <title>Drama Scraper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

 <div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Drama Scraper</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <% if user_signed_in? %>
          <li><a href="/"><%= current_user.email %></a></li> 
          <li><%= link_to 'Log Out', destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to 'Log In', new_user_session_path %></li> 
        <% end %>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <% if user_signed_in? %>
          <li><a href="/"><%= current_user.name %></a></li>
          <li><%= link_to 'Log Out', destroy_user_session_path %></li>
        <% else %>
          <li><%= link_to 'Log In', new_user_session_path %></li>  
        <% end %>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
	<%= yield %>
</div>

</body>
</html>
