<!DOCTYPE html>
<html>
  <head>
    <title>Drama Scraper</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="theme-color" content="##262626">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>
  <body>

    <header>
      <%= render 'navbar' %>
    </header>

    <main>
      <div class="container">
        <% if alert %>
        <p class="alert chip red darken-1 error_chip z-depth-2 animated flipInX"><%= alert %></p>
        <% end %>
        <%= yield %>
      </div>
    </main>

    <footer class="page-footer">
      <%= render 'footer' %>
    </footer>

    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>

    <div class="preloader-overlay"></div>

  </body>
</html>
