<!DOCTYPE html>
<html>
<head>
  <title>Drama Scraper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<%= render 'navigation' %>

<p id="notice"><%= notice %></p>

<div class="container">
	<%= yield %>
</div>

</body>
</html>
